@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f0f0f0ff;
}
.inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.container {
  background: #ffffffff;
  border-radius: 20px;
  border-bottom-right-radius: 8rem;
  padding: 45px;
  width: 50vw;
}
.top-portion {
  display: flex;
  justify-content: space-evenly;
  margin-right: 20%;
  margin-left: 4%;
}
button {
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #7f2bedff;
  margin: -10%;
  margin-left: 85%;
  cursor: pointer;
}
button:hover {
  background: hsl(0, 0%, 8%);
}
.line {
  margin-right: 300px;
}
hr {
  width: 90%;
  border-bottom: 1px solid #dededeff;
}
input {
  width: 120px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #dededeff;
  font-size: 25px;
  padding-left: 10px;
  cursor: pointer;
}
::placeholder {
  color: #878787ff;
}
input:hover {
  border: 1px solid #000;
}
small {
  font-size: 10px;
  padding: 10px 0;
  margin-left: 5px;
  color: hsl(0, 100%, 67%);
  text-transform: capitalize;
}
h3 {
  margin: 5px;
  font-size: 15px;
  color: #878787ff;
  letter-spacing: 3px;
}
.bottom-portion {
  font-size: 40px;
  font-style: italic;
  color: #141414ff;
}
.bottom-portion span {
  color: #872dfcff;
}

@media only screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
  .bottom-portion {
    margin-top: 40px;
    font-size: 1.5rem;
  }
  .top-portion input {
    width: 80px;
    font-size: 1rem;
    justify-content: space-between;
    margin-right: 1rem;
  }
  button {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
  }
  button img {
    transform: scale(70%);
  }
}
